@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f7f7f7;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --text-color: #f5f5f5;
  }
}
